[submodule "ImGui"]
	path = ImGui
	url = https://github.com/ocornut/imgui.git
[submodule "Spdlog"]
	path = Spdlog
	url = https://github.com/gabime/spdlog.git
[submodule "External/Include/GLFW"]
	path = External/Include/GLFW
	url = https://github.com/glfw/glfw.git
[submodule "External/Include/box2d"]
	path = External/Include/box2d
	url = https://github.com/erincatto/box2d.git
[submodule "External/Include/glm"]
	path = External/Include/glm
	url = https://github.com/g-truc/glm.git
[submodule "External/Include/entt"]
	path = External/Include/entt
	url = https://github.com/skypjack/entt.git
[submodule "External/Include/stb"]
	path = External/Include/stb
	url = https://github.com/nothings/stb.git
[submodule "External/Include/magic_enum"]
	path = External/Include/magic_enum
	url = https://github.com/Neargye/magic_enum.git
[submodule "External/Include/miniaudio"]
	path = External/Include/miniaudio
	url = https://github.com/mackron/miniaudio.git
[submodule "External/Include/cereal"]
	path = External/Include/cereal
	url = https://github.com/USCiLab/cereal.git
[submodule "External/Include/glad"]
	path = External/Include/glad
	url = https://github.com/Dav1dde/glad.git
[submodule "External/ImGui"]
	path = External/ImGui
	url = https://github.com/ocornut/imgui
